.cContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rContainer {
    background-color: white;
    padding: 20px;
    position: relative;
    width: 300px;
  }
  
  .rClose {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  
  .rItem {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    justify-content: center;
  }
  
  
  .rTitle {
    font-weight: 500;
  }
  
  .rDesc {
    font-weight: 300;
  }
  
  .rMax {
    font-size: 12px;
  }
  
  .rPrice {
    font-weight: 500;
  }
  
  .rSelectCoupons{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 16px;
    color: black;
    width: 250px;
    
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px;
  }
  
  .coupon{
    display: flex;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    height: 85px;
    flex-direction: column;
    width: 100%;
  }
  
  .Button {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  