.sidebar{
    flex: 1;
    min-height: 100vh;
    background-color: #323639;

    .top{
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            margin-top: 10px;
            text-align: center;
            width: 70%;
            height: 100%;
        }
    }

    .center{
        padding-left: 10px;
        color: #c0c0c0;
        margin-top: 30px;

        .list{
            padding: 0;
            margin: 0;
            width: 80%;

            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                height: 45px;
                margin-top: 2px;
                transition: text-shadow .3s;

                

                .icon{
                    margin-left: 2px;
                    font-size: 20px;
                    padding: 1px;
                    width: 24px;
                    height: 24px;
                }
                .expandIcon{
                    margin-left: auto;
                }
                span{
                    margin-left: 10px;
                    font-size: 17px;
                    font-weight: 400;
                }

                &:hover{
                    background: linear-gradient(
                        to right,
                        #1845ad, #23a2f6 
                    );
                    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
                    border-radius: 0px 20px 20px 0px;
                    color: #333;
                }
                
            }
            .menu{
                margin-left: 40px;
                list-style: none;
            }
            
        }
    }
    
    
    .Link{
        text-decoration: none;
        color: #c0c0c0;
    }
    .activeSide{
        
                    background: linear-gradient(
                        to right,
                        #1444b58c, #1178bd96 
                    );
                    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
                    border-radius: 0px 20px 20px 0px;
                    color: #c0c0c0;
    }
}
